{% load static %}

<html lang="en">
<!-- Basic -->


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>LeS Wallet - Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="{% static 'website/image/x-icon' %}" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'website/css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'website/css/custom.css' %}" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
<!--    <div id="preloader">-->
<!--        <div class="loader">-->
<!--            <img src="{% static 'website/images/loader.gif' %}" alt="#" />-->
<!--        </div>-->
<!--    </div>-->
<!--     end loader-->
<!--     END LOADER-->

    <!-- Start header -->
    <header class="top-header">
        <div class="header_top">
            
            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href=""><img src="{% static 'website/images/logo5.jpg' %}" alt="image"></a>

                    </div>
                    <div class="site_information">
<!--                        <ul>-->
<!--                            <li><a href="mailto:exchang@gmail.com"><img src="{% static 'website/images/mail_icon.png' %}" alt="#" />exchang@gmail.com</a></li>-->
<!--                            <li><a href="tel:exchang@gmail.com"><img src="{% static 'website/images/phone_icon.png' %}" alt="#" />+7123569847</a></li>-->
<!--                            <li><a class="join_bt" href="#">Join us</a></li>-->
<!--                        </ul>-->
                    </div>
                </div>
            </div>
        
        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section" style="background: #ff880e;">
                   <nav class="navbar header-nav navbar-expand-lg"> 
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="">Home</a></li>
                        <li><a class="nav-link" href="#about">About</a></li>
                        <li><a class="nav-link" href="wallet\">Wallet</a></li>
                        <li><a class="nav-link" href="#services">Services</a></li>
                        <li><a class="nav-link" href="#news">News</a></li>
                        <li><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
                     </div>
                 </nav>
<!--                 <div class="search-box">-->
<!--                    <input type="text" class="search-txt" placeholder="Search">-->
<!--                    <a class="search-btn">-->
<!--                        <img src="{% static 'website/images/search_icon.png' %}" alt="#" />-->
<!--                    </a>-->
<!--                </div> -->
                </div>
            </div>
          </div>
        </div>
        
    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" style="background-image:url({% static 'website/images/slide_img.png)' %}">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text white_fonts">
                                        <h3>LeS<br><strong>Wallet</strong></h3>
                                        <br>
<!--                                        <a class="start_exchange_bt" href="index2.html">Start Exchange ></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" style="background-image:url({% static 'website/images/slide1_img.jpg)' %}">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text white_fonts">
                                        <h3>Best<br><strong>Data</strong></h3>
                                        <br>
<!--                                        <a class="start_exchange_bt" href="index2.html">Start Exchange ></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .pogoSlider -->
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
	<!-- section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="website/full text_align_right_img">
                        <img src="{% static 'website/images/img1.png' %}" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
						   <h2><span class="theme_color">Welcome</span> To LeS Wallet</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>LeS Wallet is a website that allows you to manage your investments and keep track of how the value of your coins are changing.Updating 24/7 using price data from the biggest exchanges.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
    <!-- section -->
    <div class="section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2 id="services"><span class="theme_color"></span>Services</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                       <img class="img-responsive" src="{% static 'website/images/s1.png' %}" alt="#" />
                       <h4>Safe & Secure</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{% static 'website/images/s2.png' %}" alt="#" />
                        <h4>Coingecko API</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{% static 'website/images/s3.png' %}" alt="#" />
                        <h4>Wallet</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{% static 'website/images/s4.png' %}" alt="#" />
                        <h4>Experts Support</h4>
                    </div>
                </div>
            </div>
            <div class="row margin-top_30">
                <div class="col-sm-12">
                    <div class="full">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section white_fonts" style="background: #2a2a2a;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="background: #fff;">
                    <div class="full text_align_right_img">
                        <img src="{% static 'website/images/img2.png' %}" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2><span class="theme_color">Create your</span> Wallet</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Your data is safe and secure. We take data security and privacy very seriously</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="{% url 'wallet_pag:wallet' %}">Wallet></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
	<!-- section -->
    <div class="section layout_padding about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2 id="about">About</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Free & Powerful Crypto Portfolio Tracker
Track your crypto earnings like a pro, with a user-friendly and reliable portfolio tracker that you can rely on.
                        Real-time Price Data (13,000+ coins)
                            From the world's largest independent cryptocurrency data aggregator.
                        Create Multiple Portfolios.
                            Cover all strategies - conservative, risky, long term HODL, DeFi, low-cap gems, high risk positions and more!</p>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="{% static 'website/images/img3.png' %}" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
	<!-- section -->
    <div class="section layout_padding padding_top_0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2 id="news"><span class="theme_color"></span>News</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                       <img class="img-responsive" src="{% static 'website/images/b1.png' %}" alt="#" />
                       <div class="overlay"><a class="main_bt transparent" href="https://news.bitcoin.com/">View</a></div>
                       <div class="blog_details">
                         <h3>Bitcoin News</h3>
                         <p>Bitcoin.com News is operated by Saint Bitts LLC, a company incorporated in the country of Saint Kitts and Nevis. This website is intended to deliver news related to the Bitcoin network</p>
                       </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                        <img class="img-responsive" src="{% static 'website/images/b2.png' %}" alt="#" />
                        <div class="overlay"><a class="main_bt transparent" href="https://coinmarketcap.com/ro/currencies/ethereum/news/">View</a></div>
                       <div class="blog_details">
                         <h3>Ethereum News</h3>
                         <p>Ethereum is a decentralized open-source blockchain system that features its own cryptocurrency, Ether. ETH works as a platform for numerous other cryptocurrencies, as well as for the execution of decentralized smart contracts.</p>
                       </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                        <img class="img-responsive" src="{% static 'website/images/b3.png' %}" alt="#" />
                        <div class="overlay"><a class="main_bt transparent" href="https://elrond.com/blog/">View</a></div>
                       <div class="blog_details">
                         <h3>Elrond News</h3>
                         <p>A highly scalable, fast and secure blockchain platform for distributed apps, enterprise use cases and the new internet economy.</p>
                       </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding padding_top_0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- contact_form -->
<!--    <div class="section contact_form">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6 col-sm-12 offset-lg-3">-->
<!--                    <div class="full">-->
<!--                        <form class="contact_form_inner" action="#">-->
<!--                            <fieldset>-->
<!--                                <div class="field">-->
<!--                                    <input type="text" name="name" placeholder="Your name" />-->
<!--                                </div>-->
<!--                                <div class="field">-->
<!--                                    <input type="email" name="email" placeholder="Email" />-->
<!--                                </div>-->
<!--                                <div class="field">-->
<!--                                    <input type="text" name="phone_no" placeholder="Phone number" />-->
<!--                                </div>-->
<!--                                <div class="field">-->
<!--                                    <textarea placeholder="Message"></textarea>-->
<!--                                </div>-->
<!--                                <div class="field center">-->
<!--                                    <button>SEND</button>-->
<!--                                </div>-->
<!--                            </fieldset>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- end contact_form -->
    <!-- end section -->
    <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
               <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <img class="img-responsive" src="{% static 'website/images/s2.png' %}" alt="#" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <h3>Quick Links</h3>
                            </div>
                            <div class="full">
                                <ul class="menu_footer">
                                    <li><a href="">> Home</a></li>
                                    <li><a href="/#about">> About</a></li>
                                    <li><a href="wallet/">> Wallet</a></li>
                                    <li><a href="/#services">> Services</a></li>
                                    <li><a href="/#news">> News</a></li>
                                    <li><a href="/#contact">> Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Newsletter</h3>
                             <p></p>
                             <div class="newsletter_form">
                                <form action="index.html">
                                   <input type="email" placeholder="Your Email" name="#" required="">
                                   <button>Submit</button>
                                </form>
                             </div>
                         </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3 id="contact">Contact us</h3>
                             <ul class="full">
                               <li><img src="{% static 'website/images/i5.png' %}"><span>Bld. Timisoara 101N<br>Bucharest</span></li>
                               <li><img src="{% static 'website/images/i6.png' %}"><span>les-wallet@gmail.com</span></li>
                               <li><img src="{% static 'website/images/i7.png' %}"><span>+40 723159197</span></li>
                             </ul>
                         </div>
                            </div>
                        </div>
					</div>
                </div>
			 </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyrights 2022 design by html.design</p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
	<script src="{% static 'website/js/popper.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.pogo-slider.min.js' %}"></script>
    <script src="{% static 'website/js/slider-index.js' %}"></script>
    <script src="{% static 'website/js/smoothscroll.js' %}"></script>
    <script src="{% static 'website/js/form-validator.min.js' %}"></script>
    <script src="{% static 'website/js/contact-form-script.js' %}"></script>
    <script src="{% static 'website/js/isotope.min.js' %}"></script>
    <script src="{% static 'website/js/images-loded.min.js' %}"></script>
    <script src="{% static 'website/js/custom.js' %}"></script>
	<script>
	/* counter js */

(function ($) {
	$.fn.countTo = function (options) {
		options = options || {};
		
		return $(this).each(function () {
			// set options for current element
			var settings = $.extend({}, $.fn.countTo.defaults, {
				from:            $(this).data('from'),
				to:              $(this).data('to'),
				speed:           $(this).data('speed'),
				refreshInterval: $(this).data('refresh-interval'),
				decimals:        $(this).data('decimals')
			}, options);
			
			// how many times to update the value, and how much to increment the value on each update
			var loops = Math.ceil(settings.speed / settings.refreshInterval),
				increment = (settings.to - settings.from) / loops;
			
			// references & variables that will change with each update
			var self = this,
				$self = $(this),
				loopCount = 0,
				value = settings.from,
				data = $self.data('countTo') || {};
			
			$self.data('countTo', data);
			
			// if an existing interval can be found, clear it first
			if (data.interval) {
				clearInterval(data.interval);
			}
			data.interval = setInterval(updateTimer, settings.refreshInterval);
			
			// initialize the element with the starting value
			render(value);
			
			function updateTimer() {
				value += increment;
				loopCount++;
				
				render(value);
				
				if (typeof(settings.onUpdate) == 'function') {
					settings.onUpdate.call(self, value);
				}
				
				if (loopCount >= loops) {
					// remove the interval
					$self.removeData('countTo');
					clearInterval(data.interval);
					value = settings.to;
					
					if (typeof(settings.onComplete) == 'function') {
						settings.onComplete.call(self, value);
					}
				}
			}
			
			function render(value) {
				var formattedValue = settings.formatter.call(self, value, settings);
				$self.html(formattedValue);
			}
		});
	};
	
	$.fn.countTo.defaults = {
		from: 0,               // the number the element should start at
		to: 0,                 // the number the element should end at
		speed: 1000,           // how long it should take to count between the target numbers
		refreshInterval: 100,  // how often the element should be updated
		decimals: 0,           // the number of decimal places to show
		formatter: formatter,  // handler for formatting the value before rendering
		onUpdate: null,        // callback method for every time the element is updated
		onComplete: null       // callback method for when the element finishes updating
	};
	
	function formatter(value, settings) {
		return value.toFixed(settings.decimals);
	}
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('.count-number').data('countToOptions', {
	formatter: function (value, options) {
	  return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
	}
  });
  
  // start all the timers
  $('.timer').each(count);  
  
  function count(options) {
	var $this = $(this);
	options = $.extend({}, options || {}, $this.data('countToOptions') || {});
	$this.countTo(options);
  }
});
	</script>
</body>

</html>