{% load static %}
<html lang="en">
<head>

    <title>LeS Wallet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet"
          href="{% static 'table-07/https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'table-07/css/style.css' %}">

</head>
<body>
{% load rates %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">LeS Wallet</h2>
            </div>
        </div>
        <a class="btn btn-secondary" href="{% url 'crypto:add' %}">Add Coin</a>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-bordered table-dark table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Coins</th>
                            <th>Symbol</th>
                            <th>Value</th>
                            <th>Options</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for x in crypto_list %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ x.coin_number }}</td>
                            <td>{{ x.coin_type }}</td>
                            <td>{{ x.coin_type|rates:x.coin_number }}

                            </td>

                            <td>
                                <a href="{% url 'crypto:sterge' x.id %}" class="btn btn-light">Sterge</a>
                                <a href="{% url 'crypto:modifica' x.id %}" class="btn btn-warning">Modifica</a>

                            </td>


                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'table-07/js/jquery.min.js' %}"></script>
<script src="{% static 'table-07/js/popper.js' %}"></script>
<script src="{% static 'table-07/js/bootstrap.min.js' %}"></script>
<script src="{% static 'table-07/js/main.js' %}"></script>

</body>
</html>



